.container {
  display: flex;
  height: 100vh;
  position: fixed;
}

.sidebar {
  width: 250px;
  background-color: #104b39;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

mat-expansion-panel {
  background-color: #104b39;
}

.logo-container {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 90%;
  border: 1px solid rgba(193, 149, 105, 0.781);
}

.logo-container mat-icon {
  width: 100px;
  height: 100px;
  font-size: 90px;
  color: #259d79;
}

mat-panel-title {
  font-size: 20px;
  color: #259d79;
  font-weight: bold;
}

mat-list-item {
  padding: 0px 15px;
  margin: 0px;
  color: #259d79;
}

a {
  font-size: 18px;
  color: white;
  padding-left: 7px;
  text-decoration: none;
}

a:hover {
  background-color: #125a44;
  box-shadow: none;
  outline: none;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #e7e4e4;
  overflow-y: auto;
}

.logout-container {
  margin-top: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #259d79;
  font-weight: bold;
}

.logout-container mat-icon {
  margin-right: 8px;
  color: #259d79;
}

.logout-container span {
  font-size: 19px;
}